body {
  background: linear-gradient(40deg, #ffff 7%, #9396ba 25%, #202A44 75%); 
  cursor: url('tigercur.png'), auto;
}
   
.header img {
  width: 55px;
  text-align: center;
  margin: auto;
}


.header {
  text-align: center;
  animation: colorChange 5s linear infinite;
  text-shadow: 
  0 0 7px #fff, 
  0 0 10px #fff, 
  0 0 21px #fff,
  0 0 42px #89CFF0,
  0 0 63px #F4C2C2
}

@keyframes colorChange {
  0% {color:#89CFF0;}
  25% {color:#FFFFFF;}
  50%{color: #F4C2C2;}
  75%{color: #E6E6FA;}
  100% {color: #89CFF0;
} }



.header p {
  text-align: center;
  color: white;
}

.card_thetides {
  float: left;
  justify-content: center;
  background-color: #E6E6FA;
  margin: 25px;
  width: 25%;
  box-shadow: 4px 4px 4px 4px black; 
  padding: 15px;
  border-radius: 10px;
}

.card_thetides img {
  width:90%; 
  aspect-ratio: 1 / 1; 
  object-fit:cover;
  border-radius:8px;
  display:block;
  margin: auto;

}

.card_thetides h2 {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.card_thetides p {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.card_navigator {
  float: left;
  justify-content: center;
  background-color: #E6E6FA;
  margin: 25px;
  width: 25%;
  box-shadow: 4px 4px 4px 4px black;
padding: 15px;
  border-radius: 10px;
}

.card_navigator img {
  width:90%; 
  aspect-ratio: 1 / 1; 
  object-fit:cover;
  border-radius:8px;
  display:block;
  margin: auto;

}

.card_navigator h2 {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.card_navigator p {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.card_passacaglia {
  float: left;
  justify-content: center;
  background-color: #E6E6FA;
  margin: 25px;
  width: 25%;
  box-shadow: 4px 4px 4px 4px black;
  padding: 15px;
  border-radius: 10px;
}

.card_passacaglia img {
  width:90%; 
  aspect-ratio: 1 / 1; 
  object-fit:cover;
  border-radius:8px;
  display:block;
  margin: auto;

}

.card_passacaglia h2 {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.card_passacaglia p {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.cards {
  justify-content: center;
  display: flex;
}

.kesan img {
  width: 90%; 
  aspect-ratio: 1 / 1; 
  object-fit:cover;
  border-radius:8px;
  display:block;
  margin: auto;

}

.kesan {
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #E6E6FA;
  margin: 0 auto;
  width: 25%;
  display: block;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px black;
}


.kesan h2 {
  text-align: center;
}
.kesan p {
  text-align: center;
}


.foot-img {
  width:100%; 
  aspect-ratio: 1 / 1; 
  object-fit:cover;
  border-radius:8px;
  display:block;
}

.foot {
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}







